---
---

@import "{{ site.theme }}";

$bg-color: #ede5d9;

body {
  background-color: $bg-color;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

header {
  text-align: center;
  h1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 7px 0;
    border-bottom: 1px solid #333;
    font-weight: normal;
    text-transform: uppercase;
    background: $bg-color;

    a, a:link, a:hover, a:visited {
      color: #333;
      font-weight: normal;
    }
  }
}

h1 {
  border-bottom: 1px solid #333;
}

h2 + h3 {
  margin-top: -15px;
}

footer {
  bottom: 0;
}

section {
  min-width: 400px;
  width: auto;
  max-width: 600px;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: 100%;
  }
  header {
    width:30%;
    float:left;
    position: fixed;
    padding: 0;
  }
  section {
    float:right;
    width: 60%;
    min-width: 300px;
  }
  footer {
    float: left;
    position: fixed;
    width: 30%;
  }
}
@media print, screen and (max-width: 600px) {
  div.wrapper {
    width:auto;
    margin:0;
  }
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  header h1 {
    padding: 7px 0;
    font-size: 18px;
  }
  section {
    min-width: 50px
  }
}
